<!--
    file: views/cart/index.cshtml
    Page for viewing shopping cart items
    author: Douglas Brunner
    website: http://dunerestaurant.azurewebsites.net
    history:
        initial commit
        update cart quantity
-->


@{
    ViewBag.Title = "Showing Cart";

    // used to estimate delivery time
    var totalItemsOrdered = 0;
    var totalPrice = 0.0m;
}

@using DuneRestaurant.Models
@model IEnumerable<CartView>


<h2>Items in Cart</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Item Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CartView item in Model)
            {

                var total = @item.Price * @item.Quantity;
                @totalItemsOrdered += @item.Quantity;
                @totalPrice += @total;

                <form method="post" action="/Cart/Update">
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description_Short</td>
                    <td>$@item.Price</td>
                    <td><input type="text" name="quantity" value="@item.Quantity" /></td>
                    <td>$@total</td>
                    <td>
                        <input type="hidden" name="cartID" value="@item.CartID" />
                        <input type="submit" class="btn btn-primary" value="Update" />
                        <a class="btn btn-danger" href="#">Delete</a>
                    </td>
                </tr>
                </form>
            }
        </tbody>
    </table>
    <p>

        @{ var deliveryTime = @totalItemsOrdered * 3; }

        Estimated delivery time: @deliveryTime minutes.
    </p>

</div>
<div class="container pull-right">
    <div class="row">
        <h3>Total Price: $@totalPrice</h3>
    </div>
    <div class="row pull-right">
        <a class="btn btn-primary" href="/Cart/Checkout">Checkout</a>
    </div>
</div>