@model DuneRestaurant.Models.RegisterViewModel
@{
    ViewBag.Title = "Register For Dune";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-12">
        <section id="registerForm">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <ul class="list-inline">
                        <li>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        </li>
                        <li>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        </li>
                        <li>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        </li>
                    </ul>
                    <div>
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }

        </section>
    </div>
</div>


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
